.post-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0.5rem;
}

.profile-picture-wrapper {
  background: var(--background-color);
  border-radius: var(--button-radius);
  overflow: hidden;
  height: 2rem;
  width: 2rem;
}

.profile-picture {
  background-size: cover;
  display: block;
  font-size: 0;
  height: 2rem;
  width: 2rem;
}

.profile-name-wrapper {
  margin-left: 1rem;
}
