@use 'src/styles/variables/media';
@use 'src/styles/variables/colors' as colors;
@use 'src/styles/variables/fonts' as fonts;

.container {
  background: colors.color('block', 'dark');
  border-radius: var(--border-radius);
  contain: paint;
  display: flex;
  padding: 1rem;
  position: relative;
  margin: 2rem 0;
  align-items: center;
}

.icon-wrapper {
  flex-shrink: 0;
  margin-right: 1rem;
  width: 4rem;

  .icon {
    height: 4rem;
    width: 4rem;

    &.exceptional {
      box-shadow: 0 0 1rem colors.color('badge-exceptional', 'glow');
    }
  }
}

.description-wrapper {
  line-height: 1;
}

.title {
  margin: 0 0 .5rem 0;

  &.exceptional {
    background: -webkit-linear-gradient(right, colors.color('badge-exceptional'), colors.color('badge-epic'));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.type {
  margin: 0;
}