@use '/src/styles/variables/media';
@use '/src/styles/variables/colors' as colors;
@use 'sass:math';

.header {
  background: colors.color("block", "dark");
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 0.5rem;
  position: fixed;
  left: 50%;
  bottom: calc(env(safe-area-inset-bottom) + 0.5rem);
  transform: translateX(-50%);
  z-index: 1000;

  @include media.after-mobile {
    padding: 1rem;
    bottom: 1rem;
  }
}

.items {
  align-items: center;
  box-sizing: content-box;
  font-size: 0;
  display: flex;
  flex-flow: row;
  list-style: none;
  padding: 0;

  > li {
    margin: 0 0.5rem;
  }
}

.icon {
  border-radius: var(--border-small-radius);
  display: block;
  margin: 0;
  position: relative;
  transition: padding .3s ease, outline-color .1s ease, transform .2s ease;
  outline-color: transparent;
  padding: .5rem;
  height: 2rem;
  width: 2rem;

  &:before {
    background: currentColor;
    border-radius: .25rem;
    content: ' ';
    display: none;
    position: absolute;
    height: .5rem;
    width: .5rem;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &.active {
    padding: 0 .5rem 1rem .5rem;

    &:before {
      display: block;
    }
  }

  &:focus {
    outline: .2rem currentColor solid;
  }

  &:active {
    transform: scale(.9);
  }
}

.about {
  color: colors.color('red');
  filter: grayscale(1);

  &:hover,
  &.loading,
  &.active {
    filter: none;
  }
}

.search {
  color: colors.color('yellow');
  filter: grayscale(1);

  &:hover,
  &.loading,
  &.active {
    filter: none;
  }
}

.home {
  color: colors.color('green');
  filter: grayscale(1);

  &:hover,
  &.loading,
  &.active {
    filter: none;
  }
}

.sale {
  color: colors.color('blue');
  filter: grayscale(1);

  &:hover,
  &.loading,
  &.active {
    filter: none;
  }
}

.profile {
  color: colors.color('pink');
  filter: grayscale(1);
  position: relative;
  height: 2rem;
  width: 2rem;

  &:hover,
  &.loading,
  &.active {
    filter: none;
  }
}

.sale-emerald {
  animation: sale-emerald-appear .5s ease-in-out;
  background: url("./icons/onsale-emerald.png") no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  position: absolute;
  top: 1.5rem;
  right: .5rem;
  height: .875rem;
  width: .75rem;
}

@keyframes sale-emerald-appear {
  0% {
    transform: scale(0.3, 1.2);
  }
  50% {
    transform: scale(1.1, 0.7);
  }
  100% {
    transform: scale(1);
  }
}