@use '../../../styles/variables/media';
@use '../../../styles/variables/colors' as colors;

.wiki-sidebar {
  order: 1;
  padding: var(--content-padding);

  @include media.desktop {
    order: 2;
    width: var(--sidebar-width);
  }
}

.wiki-navigation {
  border: 1px solid colors.color('block', 'light');
  border-radius: var(--border-small-radius);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 1rem;
  width: 100%;
}

.link {
  border-bottom: 1px solid colors.color('block');
  color: colors.color('text', 'dark');
  padding: .5rem 1rem;
}

.page-link {

}

.section-link {
  padding-left: 1.5rem;
}

.active {
  color: colors.color('text');
}