@use '/src/styles/variables/media';
@use '/src/styles/variables/colors' as colors;

.fallback-label {
  display: none;
}

.language-wrapper {
  position: relative;
  overflow: hidden;
  height: 3rem;
  width: 3rem;
}

.globe-icon-wrapper {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 3rem;
  width: 3rem;
}

.globe-icon {
  display: block;
}

.language-overlay {
  box-sizing: border-box;
  color: colors.color('text');
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  line-height: 3rem;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.language-select {
  background-color: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  display: flex;
  line-height: inherit;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  height: 3rem;
  width: 3rem;
}