@use '/src/styles/variables/media';
@use '/src/styles/variables/colors' as colors;

.loading {
  animation: loading 1s ease-in-out infinite;
}

.profile-wrapper {
  position: relative;
}

.profile-avatar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  z-index: -1;
}

@keyframes loading {
  0% {
    transform: translateY(0) scale(1, 1);
  }
  20% {
    transform: translateY(10%) scale(1.1, 0.9);
  }
  30% {
    transform: translateY(-10%) scale(0.8, 1.2);
  }
  50% {
    transform: translateY(-20%) scale(1, 1);
  }
  100% {
    transform: translateY(0) scale(1, 1);
  }
}