@use '../../../styles/variables/media';
@use '../../../styles/variables/colors' as colors;

.badge {
  background-size: cover;
  border-radius: var(--border-small-radius);
  display: inline-flex;
  position: relative;
  margin: .5rem;
  height: 64px;
  width: 64px;

  .description {
    line-height: 1.75rem;
    padding: 0 1rem 0 1rem;
    transition: padding .3s ease;
  }

  &.uncommon {
    //background: colors.color('badge-uncommon');
  }

  &.rare {
    //background: colors.color('badge-rare');
  }

  &.exceptional {
    //background: colors.color('badge-exceptional');
  }

  &.epic {
    //background: colors.color('badge-epic');
  }

  &.legendary {
    //background: colors.color('badge-legendary');
  }
}
