@use 'src/styles/variables/media';

.item {
  position: relative;
  display: inline-block;
}

.sprite {
  display: block;
  width: 2rem;
  height: 2rem;
}

.classic-sprite {
  background-image: url("/assets/items-sprite.png");
}

.zetter-sprite {
  background-image: url("/assets/zetter-items-sprite.png");
}
