@use '/src/styles/variables/placeholder' as *;
@use '/src/styles/variables/colors' as colors;
@use 'sass:color';

.first-time-notice {
  background-image: url("/assets/banners/featured.png");
  background-position: right;
  background-repeat:  no-repeat;
  padding: 1rem;
  padding-right: 30%;
  position: relative;
}

.cross {
  background-color: color.adjust(black, $alpha: -0.25);
  background-position: center;
  background-repeat: no-repeat;
  background-size: .625rem .625rem;
  border-radius: 1rem;
  image-rendering: pixelated;
  position: absolute;
  top: .5rem;
  right: .5rem;
  line-height: 2rem;
  text-align: center;
  height: 2rem;
  width: 2rem;

  &:hover {
    background-color: black;
  }

  &:focus {
    outline: .2rem solid colors.color('red');
  }
}

.actions-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: .5rem;
  justify-content: space-between;
  margin: .5rem 0;
}

.action {
  background: colors.color('block', 'light');
  border-radius: var(--button-radius);
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  width: 100%;

  &:focus {
    outline: .2rem solid colors.color('green');
  }
}

.action-cta {
  background: linear-gradient(colors.color('green'), colors.color('green', 'dark'));
}