@use 'fonts/index' as *;
@use 'src/styles/variables/colors' as colors;
@use 'src/styles/variables/media';

@include fonts;

:root {
  @each $color-name, $color in colors.$colors {
    @if type-of($color) == "map" {
      @each $subname, $subcolor in $color {
        @if $subname == "base" {
          #{colors.$color-prefix}#{"" + $color-name}: $subcolor;
        } @else {
          #{colors.$color-prefix}#{"" + $color-name}-#{$subname}: $subcolor;
        }
      }
    } @else if type-of($color) == "color" {
      #{colors.$color-prefix}#{"" + $color-name}: $color;
    }
  }

  --shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
  --big-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --border-small-radius: 5px;
  --border-radius: 20px;
  --content-padding: 1rem;
  --content-thin-width: 512px;
  --content-wide-width: 712px;
  --sidebar-width: calc(200px + var(--content-padding) * 2);

  --button-padding: 14px 22px;
  --button-radius: 5px;
  --button-font-size: 16px;
  --button-font-weight: 500;
}

html {
  box-sizing: border-box;
  // Header
  --header-height: calc(var(--header-navigation-height)
  + var(--offline-notification-height)
  + var(--header-spacing)
  + env(safe-area-inset-top));
  --header-spacing: 0px;
  --header-navigation-height: 70px;
  --status-bar-highlight-color: #ef4444;
  --offline-notification-height: 0px;

  // Bottom header items shown on mobile
  --header-items-height: calc(60px + env(safe-area-inset-bottom));

  // Footer
  --footer-content-height: 200px;
  --footer-height: calc(var(--footer-content-height) + 2 * var(--content-padding));
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: colors.color('background');
  color: colors.color('text');
  font-size: 16px;
  margin: 0;
}

dl {
  dt {
    margin: .5rem 0;
  }

  dd {
    margin-inline-start: 2rem;
  }
}

#__next {
  background-color: var(--background-color);
}

.content-thin {
  margin: 0 auto;
  max-width: var(--content-thin-width);
}

.content-thin-plus-sidebar {
  margin: 0 auto;
  max-width: calc(var(--content-thin-width) + var(--sidebar-width));
}

.content-wide {
  margin: 0 auto;
  max-width: var(--content-wide-width);
}

.content-wide-plus-sidebar {
  margin: 0 auto;
  max-width: calc(var(--content-wide-width) + var(--sidebar-width));
}

.content-inner {
  padding: var(--content-padding);
  min-height: calc(100vh
  - var(--header-items-height)
  - var(--header-height)
  - var(--footer-height)
  - 2 * var(--content-padding));
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

select {
  appearance: none;
  border-radius: 0;
}

button {
  background-color: transparent;
  border: 0;
  border-color: initial;
  border-style: initial;
  border-width: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: 0;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0;
  padding: 0;
}

.block {
  background: colors.color('block');
  border-radius: var(--border-small-radius);
  box-shadow: var(--big-shadow);
}

.pixelated-images {
  image-rendering: optimizeSpeed;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: -moz-pixelated;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

.pixel-font {
  @include font-family('Minecraftia', sans-serif);
  font-smooth: none;
  font-smoothing: none;
  -webkit-font-smoothing: none;
}

.sans-serif-font {
  @include font-family('Raleway', sans-serif);
  font-smooth: auto;
  font-smoothing: auto;
  -webkit-font-smoothing: initial;
}