@use '/src/styles/variables/colors' as colors;

.player-badge {
  display: block;
  image-rendering: pixelated;

  &.support_alpha {
    background-image: url("/assets/badge/support/alpha.png");
  }

  &.support_beta {
    background-image: url("/assets/badge/support/beta.png");
  }

  &.style_landscape {
    background-image: url("/assets/badge/style/landscape.png");
  }

  &.style_impressionism {
    background-image: url("/assets/badge/style/impressionism.png");
  }

  &.style_still-life {
    background-image: url("/assets/badge/style/still-life.png");
  }

  &.style_european {
    background-image: url("/assets/badge/legacy/european.png");
  }

  &.community_honored-i {
    background-image: url("/assets/badge/community/honored-artist-1.png");
  }

  &.community_honored-ii {
    background-image: url("/assets/badge/community/honored-artist-2.png");
  }

  &.community_honored-iii {
    background-image: url("/assets/badge/community/honored-artist-3.png");
  }

  &.community_honored-iv {
    background-image: url("/assets/badge/community/honored-artist-4.png");
  }

  &.community_honored-v {
    background-image: url("/assets/badge/community/honored-artist-5.png");
  }

  &.community_honored-v {
    background-image: url("/assets/badge/community/honored-artist-5.png");
  }

  &.community_pop-star {
    background-image: url("/assets/badge/community/pop-star.png");
  }
}