@use '/src/styles/variables/colors' as colors;

.post-footer {
  display: flex;
  padding: 0.5rem;
  justify-content: flex-start;
}

.statistics-info-wrapper {
  background: colors.color('block', 'dark');
  border-radius: var(--button-radius);
  display: flex;
  flex-direction: row;
  margin-left: auto;
}