.post-footer {
  display: flex;
  padding: 0.5rem;
  justify-content: flex-start;
}

.painting-title {
  font-size: 1rem;
  margin: 0.5rem;
}

.emerald-button {
  margin-left: auto;
}

.favorite-icon {
  margin-right: 0.5rem;
}

.emerald-icon {
  margin-left: 0.5rem;
}
