@use 'src/styles/variables/placeholder' as *;

.icon {
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  display: inline-block;
  font-size: 0;
  image-rendering: pixelated;


  &.small-size {
    height: 1rem;
    width: 1rem;
  }

  &.regular-size {
    height: 2rem;
    width: 2rem;
  }

  &.large-size {
    height: 3rem;
    width: 3rem;
  }
}

.loader {
  border-radius: 50%;

  @include placeholder;
}
