@use '/src/styles/variables/media';
@use '/src/styles/variables/colors' as colors;

.feed-separator {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: .5rem 0;
}

.feed-icon {
  margin-left: auto;
}

.feed-title {
  margin: 0;
}