@use 'src/styles/variables/media';

.header {
  display: flex;
  margin: 0 auto;
  max-width: var(--content-max-width);
  align-items: center;
  justify-content: space-between;
  padding: var(--content-padding);
}

.logo-wrapper {
  margin: 0;
  height: 4rem;

  figcaption {
    font-size: 0;
  }
}

.logo {
  height: 4rem;
}
