@use 'src/styles/variables/media';
@use 'src/styles/variables/colors' as colors;
@use 'src/styles/variables/index';

.header {
  background: colors.color('block');
  border-radius: var(--button-radius);
  box-shadow: var(--shadow);
  padding: 0 0.5rem;
  position: fixed;
  left: 50%;
  bottom: 0.5rem;
  transform: translateX(-50%);
  z-index: 1000;

  @include media.after-mobile {
    padding: 1rem;
    bottom: 1rem;
  }
}
