.post-header {
  display: flex;
  flex-direction: row;
  padding: 1rem 0.5rem;
}

.profile-picture-wrapper {
  background: var(--background-color);
  border-radius: var(--button-radius);
  overflow: hidden;
  height: 2rem;
  width: 2rem;
}

.profile-name-wrapper {
  margin-left: 1rem;
}
