@use 'src/styles/variables/colors' as colors;

.painting-wrapper {
  background: colors.color('block');
  object-position: center;
  position: relative;
}

.painting {
  display: block;
  image-rendering: pixelated;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  -moz-user-select: none;
  height: 100%;
  width: 100%;
}
