@use 'variables/media';
@use 'variables/colors' as colors;

.instruction-wrapper {
  position: relative;
}

.instruction-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.instruction-rectangle {
  border: .25rem solid colors.color('red');
  position: absolute;
}

.instruction-number {
  background: colors.color('red');
  border-radius: 1rem;
  color: white;
  line-height: 2rem;
  text-align: center;
  margin-left: -1.125rem;
  margin-top: -1.125rem;
  height: 2rem;
  width: 2rem;
}