@use '../../../styles/variables/colors' as colors;

.slice-button {
  border-image-source: url("/assets/buttons/button-9slices.png");
  border-image-slice: 4 fill;
  border-image-repeat: round;
  border-image-width: 12px;
  display: inline-block;
  color: #fff;
  text-shadow: 2px 2px 0 #555;
  image-rendering: pixelated;
  padding: 16px;
  margin: .5rem 1rem .5rem 0;
}

.slice-button-inner {
  display: flex;
  align-items: center;
}

.slice-button-text {
  padding: 0 1rem;
  text-align: left;
}