@use 'src/styles/variables/media';
@use 'src/styles/variables/colors' as colors;

.recipes-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;

  @include media.desktop {
    grid-template-columns: 1fr 1fr;
  }
}

/**
 * For smaller images & descriptions:
 * image and description side by side
 */
.image-description {
  background: colors.color('block');
  border-radius: var(--border-small-radius);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;

  .description {
    padding: 1rem;
  }

  @include media.desktop {
    flex-direction: row;

    .image {
      padding: 1rem;
      width: 50%;
    }

    .description {
      width: 50%;
    }
  }
}

/**
 * For longer images & descriptions:
 * image stays on top, two rows of description to fit on screen
 */
.image-long-description {
  background: colors.color('block');
  border-radius: var(--border-small-radius);
  box-shadow: var(--shadow);
  display: grid;
  grid-template-columns: [first-half] 1fr [second-half] 1fr;
  grid-template-rows: [image-row] max-content [description-row] min-content;

  .image {
    text-align: center;
  }

  .description-col {
    padding: 1rem;
  }

  @include media.desktop {
    .image {
      grid-column-start: first-half;
      grid-column-end: end;
      padding: 1rem;
      width: 100%;
    }
  }
}