@use 'src/styles/variables/media';
@use 'src/styles/variables/colors' as colors;

.recipes-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;

  @include media.desktop {
    grid-template-columns: 1fr 1fr;
  }
}