@use 'src/styles/variables/media';
@use 'src/styles/variables/colors' as colors;

.recipes-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;

  @include media.desktop {
    grid-template-columns: 1fr 1fr;
  }
}

.image-description {
  background: colors.color('block');
  border-radius: var(--border-small-radius);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;

  .description {
    padding: 1rem;
  }

  @include media.desktop {
    flex-direction: row;

    .image {
      padding: 1rem;
      width: 50%;
    }

    .description {
      width: 50%;
    }
  }
}