@use 'src/styles/variables/media';
@use 'src/styles/variables/colors' as colors;
@use 'src/styles/variables/fonts' as fonts;

.message-pool {
  top: env(safe-area-inset-top);
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 1000;
}