@use 'src/styles/variables/media';
@use 'src/styles/variables/colors' as colors;

.layered-navigation-sort, .layered-navigation-resolution {
  display: flex;
  justify-content: stretch;
  margin: 1rem 0;
}

.button {
  background-color: colors.color('block', 'dark');
  border-radius: var(--border-small-radius);
  box-shadow: var(--shadow);
  color: colors.color('text');
  display: block;
  margin: 0 .5rem;
  padding: 1rem;
  width: 100%;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.sort-by-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: background .3s ease, box-shadow .3s ease;
  z-index: 1;

  .sort-icon {
    margin-right: .25rem;
    vertical-align: middle;
  }

  .sort-text {
    margin-left: .25rem;
    text-align: center;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .1s linear;
    z-index: -1;
  }

  &:hover {
    box-shadow: var(--big-shadow);
  }
}

.sort-by-dir {
  background-color: colors.color('block', 'light');
  border-radius: var(--border-small-radius);
  box-shadow: var(--shadow);
  color: colors.color('text');
  display: block;
  cursor: pointer;
  margin: 0 0 0 .5rem;
  padding: 1rem;

  svg {
    height: 2rem;
    width: 2rem;
  }
}

.resolution-button {
  transition: background-color .3s ease;

  &.active {
    background: colors.color("blue");
  }

  &:hover {
    background: colors.color("blue", "light") ;
  }
}

.resolution-label {
  background: colors.color("block");
  border-radius: var(--border-small-radius);
  margin: 0 .5rem 0 0;
  padding: 1rem;
  flex-grow: 2;
  width: 100%;
}

.sort-by-hot {
  &::before {
    background-image: linear-gradient(144deg, colors.color("red"), colors.color("yellow"));
  }

  &:hover, &.active {
    &::before {
      opacity: 1;
    }
  }
}

.sort-by-top {
  &::before {
    background-image: linear-gradient(144deg, colors.color("green"), colors.color("blue"));
  }

  &:hover, &.active {
    &::before {
      opacity: 1;
    }
  }
}

.sort-by-new {
  &::before {
    background-image: linear-gradient(144deg, colors.color("blue"), colors.color("pink"));
  }

  &:hover, &.active {
    &::before {
      opacity: 1;
    }
  }
}